.color-nav {
    background-color: rgb(24, 22, 22);
  
  }
  
  .nav-text-colors {
    color: rgb(187, 160, 132);
    font-family: 'Rouge Script', cursive;
  }
  
  .hamburger {
    color: rgb(187, 160, 132);
  }