.sign-up {
    align-items: center;
    color: white;
    justify-content: center!important;
}

.login-field {
    width: 40vw!important;
}

.login-buttons {
    margin-left: 15px;
}

.signup-field {
    width: 40vw!important;
}