label {
    color: black;
    margin-right: 2rem;
}

.logout {
    width: 5rem;
    height: 2.5rem;
    border-radius: 4px;
    background-color: rgb(187, 160, 132);
    color: black;
}

 .modal-button {
    width: 5rem;
    height: 2.5rem;
    border-radius: 4px;
    background-color: rgb(187, 160, 132);
    color: black;
}

.sign-up-button {
    width: 5rem;
    height: 2.5rem;
    border-radius: 4px;
    background-color: rgb(187, 160, 132);
    color: black;
}
label {
    display: inline-block;
    width: 240px;
}

#login {
    position: absolute;
    bottom: 0%;
    left: 20%;
}

/* #demo-login {

} */

.sign-up-log-in {
    position: relative;
}