

.edit-submit {
    width: 5rem;
    height: 2.5rem;
    border-radius: 4px;
    background-color: rgb(187, 160, 132);
    color: black;
    position: absolute;
    top: 110%;
    left: 25%;
}


.add-photo-form, .edit-photo-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    /* z-index: 10; */
    position: relative;
    
}


.add-description, .add-place-name, .edit-place-name, .edit-description {
    width: 25%;
    height: 25%;
    font-family: 'Cormorant Garamond', serif;
    border-radius: 3px;
}

.form-label {
    margin-top: .3rem;
    margin-bottom: .3rem;
}
.add-submit {
    position: absolute;
    left: 47%;
    top: 265%;
}

.map_page__container-add {
    position: absolute;
    top: 110%;
    left: 20%;
}

.edit-photo-wrapper {
    position: relative;
}


.map_page__container-edit {
    position: absolute;
    top: 110%;
    left: 20%;
}

.add-photo-wrapper {
    position: relative;
}

.delete-photo {
    width: 5rem;
    height: 2.5rem;
    border-radius: 4px;
    background-color: rgb(248, 15, 15);
    color: black;
    position: absolute;
    left: 55%;
    top: 350%;
}

.edit-submit {
    position: absolute;
    left: 40%;
    top: 305%;
}